#logo img
{
    height:148px;
    width:160px;
}
#verify_box
{
    height:430px;
    width:380px;
    margin-left:590px;
    background-color: #faf7f7f3;
    border:1px solid rgb(240, 239, 239);
}
#verify_box h3{
    text-align:center;
}
label h4{
    margin-left:45px;
}
input[type="text"]
{
    height:40px;
    width:180px;
    margin-left:45px;
    padding-left:40px;
    border:1px solid rgb(190, 187, 187);
}
.next
{
    height:0px;
    width:0px;
    margin-left:250px;
}
a{
    text-decoration: none;
}
.nextbutton
{
    height:50px;
    width:100px;
    border-radius:10px;
    border:1px solid black;
    background-color:black;
    color:white;
    padding-bottom:px;
}
#step_back
{
    height:0px;
    width:0px;
    margin-left:35px;
}
#back
{
    height:30px;
    width:100px;
    border:1px solid gray;
    background-color: black;
    color:white;
    padding-bottom:20px;
    border-radius:10px;
}
